<h1>Restaurants in <%= @location.name %></h1>
<table>
<% @location.restaurants.sort_by{|restaurant| restaurant.name}.each do |restaurant| %>
  <tr>
    <% @visit = Visit.find_by_user_id_and_restaurant_id(current_user.id, restaurant.id) %>
    <td><% if @visit == nil %>  
      <% if current_user.email == "test@mluby.com" %>
        <%= link_to "â˜", location_restaurant_visits_path(@location, restaurant), method: :create, :class => 'monospace' %>
      <% else %>
        <%= link_to image_tag("null.png", :border => 0, :style => "height:30px"), location_restaurant_visits_path(@location, restaurant), method: :create, :class => 'monospace' %>
      <% end %>
    <% else %>  
      <% if current_user.email == "test@mluby.com" %>
        <%= link_to "â˜‘", location_restaurant_visits_path(@location, restaurant), method: :create, :class => 'monospace' %>    
      <% else %>
        <%= link_to image_tag("check.png", :border => 0, :style => "height:30px"), location_restaurant_visit_path(@location, restaurant,@visit.id), method: :delete, :class => 'monospace' %>
      <% end %> 
    <% end %></td>

    <td class="restaurant"><a href="<%= restaurant.link %>"><%= restaurant.name %></a></td>
    <td><a href="https://maps.google.com/maps?q=<%= restaurant.name %>+<%= restaurant.address %>"><%= restaurant.address %></a></td>
    <td><a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a></td>
    
    <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_location_restaurant_path(@location, restaurant) %></td>
    <td><%= link_to 'Delete', location_restaurant_path(@location, restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>

  </tr>
<% end %>
</table>
<br />

<%= if current_user.admin? then link_to 'New Restaurant', new_location_restaurant_path end %>
<%= if current_user.admin? then ' |' end %>
<%= link_to "Other locations", locations_path %>
