<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= link_to 'Show', location_restaurants_path(location) %></td>
    <td><%= if current_user.admin? then link_to 'Edit', edit_location_path(location) end %></td>
    <td><%= if current_user.admin? then link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } end %></td>
  </tr>
<% end %>
</table>

<br />

<%= if current_user.admin? then link_to 'New Location', new_location_path end %>
