<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24374907-5']);
    _gaq.push(['_setDomainName', 'restaurantchecklist.net']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();  
  </script>

  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
  <title>Restaurant Checklist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <% if false #user_signed_in? %>
	<div id="welcome">Welcome, <%= current_user.email %>!</div>
	<% end %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
    <div id="logo">
	  <% if user_signed_in? %>
  	    <a href="<%= locations_path %>" title="Click for all locations"><span>☑<strong>RestaurantChecklist</strong>.net</span></a>
	  <% else %>
	    <span>☑<strong>RestaurantChecklist</strong>.net</span>
	  <% end %>
    </div>

  <div id="content">

    
    <div id="user_nav">
	  <%= link_to "Back", :back, :title => "Go back" %> |
	  <a href="mailto:info@restaurantchecklist.net" title="Composes an email">Contact Us</a> |
      <% if user_signed_in? %>
		<% # current_user.email %>
        <%= link_to "Account", edit_user_registration_path, :title => current_user.email %> |
        <%= link_to "Logout", destroy_user_session_path, :method => 'DELETE', :title => "Come again soon!" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :title => "For returning users" %> or <%= link_to "Register", new_user_registration_path, :title => "For new users" %>
      <% end %>
    </div>

    <%= yield %>
    </div>
  </div>
</body>
</html>
